<!DOCTYPE html>
<html ng-app>
<head><title>Controllers</title>
    <style>
        table{
        border: 2px solid red;
        }
        table td{
          border: 2px solid pink;
        }
    </style>
</head>
    <body ng-controller="customersController">
        Filter: <input type="text" ng-model="customerFilter.name" />
        <table>
            <tr>
                <th ng-click="doSort('name')">Name</th>
                <th ng-click="doSort('joined')">Joined</th>
                <th ng-click="doSort('city')">City</th>
                <th ng-click="doSort('orderTotal')">OrderTotal</th>
            </tr>
            <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
                <td>{{cust.name | uppercase}}</td>
                <td>{{cust.joined | date:'mediumDate'}}</td>
                <td>{{cust.city | lowercase }}</td>
                <td>{{cust.orderTotal | currency}}</td>
            </tr>
            
        </table>
        <span >Total Customers : {{customers.length}}</span>
        <script src="angular.min.js" ></script>
        <script src="customersController.js"></script>
    </body>
</html>