<h1>{{appSettings.title}}</h1>
Filter:<input type="text" ng-model="customersFilter.name" />
<table>
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('joined')">Joined</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat=" cust in customers | filter:customersFilter |orderBy:sortBy:reverse">
        <td>{{cust.name | uppercase}}</td>
        <td>{{cust.joined | date:'longDate'}}</td>
        <td>{{cust.city | lowercase}}</td>
        <td>{{cust.orderTotal | currency}}</td>
        <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
    </tr>

</table>
<br /><br />
<footer>
Version :{{appSettings.version}}
</footer>